[user]
	name = momeppkt
	email = peeranut32@gmail.com
[core]
	pager = delta --paging=never
[interactive]
    diffFilter = delta --color-only
[init]
	defaultBranch = main
[difftool]
	prompt = false
[diff]
    colorMoved = default
    tool = nvimdiff
[merge]
    conflictstyle = diff3
    tool = nvimmerge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimmerge"]
	cmd = nvim -d $MERGED
[delta]
	features = oxocarbon
[include]
	path = ~/.config/delta/themes.gitconfig
[pull]
	rebase = true
[credential "https://gitlab.com"]
	helper = 
	helper = !glab auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
